* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fcfa;
  border: 1px solid #51a995;
  border-radius: 38px;
  padding: 2rem;
}

.job-img-row {
  display: flex;
  align-items: center;
}

.job-header img {
  width: 100px;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin-right: 2rem;
}
.extra-space {
  padding-top: 8rem;
}

#jobDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

#g-btn {
  text-decoration: none;
  background-color: #51a995;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.features .fe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.features .fe-box div {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features .fe-box img {
  width: 50px;
}

.job-description {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.job-description div {
  display: flex;
  flex-direction: column;
  gap:5px;
}
@media (max-width: 699px) {
  .job-header {
    flex-direction: column;
  }
}